.bgimg{background-image: url('assets/about-bg.jpg') !important;}
.cbimg{background-image: url('assets/contact-bg.jpg') !important;}
.bbimg{background-image: url('assets/home-bg.jpg') !important;}
.pbgimg{background-image: url('assets/post-bg.jpg') !important;}
.link{color: gainsboro !important}
.alink{color: bisque !important;}